<table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> Cities </th>
        <td mat-cell *matCellDef="let city"> {{ city.city }} </td>
    </ng-container>

    <ng-container matColumnDef="last_update">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let city"> {{ city.last_update }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
